body{
    color: #f2f4fa;
    background-color: #f7f7f7;
    background-image: url('Images/Background.png');
    font-family: 'Oxygen', sans-serif;
    height: 100vh;
    width: 100vw;
}

#header{
    color: #313a4e;
    height: 22%;
    width: 50%;
    background-color: #f7f7f7;
}

#row{
    height: 98%;
    box-shadow: 10px 10px 10px grey;
}

#leftCol{
    background-color: #eeb96a;
}
#leftCol:hover{
    background-image: url('Images/Girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#midCol{
    background-color: #313a4e;
}
#midCol:hover{
    background-image: url('Images/Dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#rightCol{
    background-color: #daa49a;
}
#rightCol:hover{
    background-image: url('Images/Leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Makes the whole div a clickable area */
a.fill-div{
    display: block;
    height: 100%;
    width: 100%;
}

#artistCredit{
    position: absolute;
    bottom: 0px;
    right: 5px;
    margin-bottom: 0px;
    color: #313a4e;
}

#artistCredit a{
    color: #313a4e;
}