body{
    color: #f2f4fa;
    background-color: #f7f7f7;
    font-family: 'Oxygen', sans-serif;
    height: 100vh;
    width: 100vw;
}

#header{
    color: #313a4e;
}

#row{
    height: 90%;
}

#leftCol{
    /*background-color: #fed18c;*/
    background-color: #eeb96a;
}
#leftCol:hover{
    background-image: url('Images/Girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

#midCol{
    background-color: #313a4e;
   /* background-color: #58a4b0;*/
}
#midCol:hover{
    background-image: url('Images/Dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

#rightCol{
    background-color: #daa49a;
}
#rightCol:hover{
    background-image: url('Images/Leaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

/* Makes the whole div a clickable area */
a.fill-div{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}